<div class="col-md-9 pull-right">
  <h1> 发布组队信息 </h1>

  <div class="col-md-8">
    <%= simple_form_for [:admin,@job] do |f| %>

    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :wage_lower_bound, :label => "人数下限" %>
    <%= f.input :wage_upper_bound, :label => "人数上限" %>
    <%= f.input :name, :label => "发布人" %>
    <%= f.input :contact_email %>
    <%= f.input :is_hidden %>


    <%= f.submit "Submit" %>
    <% end %>

  </div>
</div>
